.joke-container {
    margin-top: 50px;
    width: 400px;
    height: 100px;
    text-align: center;
}

.setup {
    padding-top: 2px;
    height: 50px;
    background-color: #eee;
}

.punchline {
    padding-top: 2px;
    height: 60px;
    background-color: rgb(136, 130, 130, 0.8);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}