.questions-container {
    width: 750px;
    height: 650px;
    margin: -10px auto;
    background-color: #F5F7FB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.back-icon {
    position: absolute;
    top: 20px;
    left: 20px;
}

.ques-and-ans-container {
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.ques-and-ans-unit {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.question {
    font-size: 16px;
    font-weight: bold;
}

.ans-container {
    display: flex;
    align-items: center;
    flex-direction: row;   
    width: 100%;
    height: 30px;
}

.answers {
    margin: 5px;
    border: 1px solid #4D5B9E;
    border-radius: 8px;
    width: 200px;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    cursor: pointer;
}

.answers:hover {
    background-color: rgba(163, 156, 182, 0.3);
}

.answer {
    color: #293264;
    font-size: 12px;
    font-weight: bold;
}

.held {
    background-color: rgba(47, 45, 184, 0.8);
}

.correct {
    background-color: rgba(83, 165, 63, 0.6);
}

.incorrect {
    background-color: rgba(241, 113, 97, 0.4);
}

.button-and-score-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.score {
    margin-top: 15px;
    font-size: 20px; 
    font-weight: bold;
}

.check-answers-btn {
    margin: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #4D5B9E;
}

@media (max-width: 768px) {
    .questions-container {
        width: 600px;
    }

    .ques-and-ans-container {
        width: 550px;
    }

    .answers {
        width: 120px;
    }

    .answer {
        font-size: 10px;
    }

    .score {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .questions-container {
        width: 500px;
    }

    .ques-and-ans-container {
        width: 450px;
    }

    .answers {
        width: 100px;
        height: 60px;
    }

    .answer {
        font-size: 10px;
    }

    .score {
        font-size: 16px;
    }

    .button-and-score-container {
        bottom: -5px;
    }
}

@media (max-width: 500px) {
    .questions-container {
        width: 400px;
        height: 700px;
    }

    .ques-and-ans-container {
        width: 350px;
        margin-top: -100px;
    }

    .answers {
        width: 80px;
        height: 60px;
    }

    .answer {
        font-size: 9px;
    }

    .score {
        font-size: 12px;
    }
}