* {
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  padding: 0;
  height: 98vh;
  width: 30vw;
  border-radius: 20px;
  background-color: #23252C;
}

@media (max-width: 600px) {
  .App{
    width: 400px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .App{
    width: 500px;
  }
}

