.score-container {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board-container {
    position: absolute;
    top: 25px;
    left: 25px;
    height: 90%;
    width: 90%;
    margin: 15px 0;
}

.dices-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 40%;
    padding: 20px;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
}

.roll-rematch {
background-color: #5035FF;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
    padding: 10px 30px;
}

.roll-rematch:focus {
    outline: none;
}

.roll-rematch:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.roll-rematch:hover {
    background-color: rgba(91, 17, 139, 0.3);
    color: #000;
}