.meme-container {
    width: 470px;
    height: 85px;
    margin: 40px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputs {
    width: 230px;
    height: 35px;
    border: 1px solid #D5D4D8;
    border-radius: 5px;
    text-indent: 5px;
}

.inputs:focus {
    outline: none;
}

.generate-button {
    cursor: pointer;
    background-color: #672280;
    text-align: center;
    color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    width: 470px;
    height: 40px;
    margin-top: 10px;
}

.generate-button:active { 
    transform: scale(0.98);
}

.meme {
    position: relative;
}

.meme-image {
    margin-top: 30px;
    width: 477px;
    height: 300px;
}

.meme-text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 35px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.top-text {
    top: 0;
}

.bottom-text {
    bottom: 0;
}