main {
    padding: 57px 27px;
    color: #ffffff;
    background-image: url(../images/react-large.png);   
    background-repeat: no-repeat;
    background-position: right 75%;
}

.main-title {
    font-weight: bold;
    font-size: 39px;
    margin: 0;
    letter-spacing: -0.05em;
}

.main-facts {
    margin-top: 46px;
    max-width: 400px;
}

.main-facts > li {
    line-height: 19px;
    padding-block: 10px;
}

.main-facts > li::marker{
    color: #61DAFB;
    font-size: 1.4em;
}